@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.app-wrap {
  margin: 25vh 20% 0 20%;
}

.download-button {
  color: #ffffff;
  font-size: large;
  background-color: rgba(48, 169, 217, 0.75);
  width: 30%;
  height: 15vh;
}

#download-spreadsheet {
  padding: 2vh;
}

#download-spreadsheet label {
  display: block;
  margin-bottom: 2vh;
}

#download-spreadsheet select {
  display: block;
  width: 30%;
  text-align: center;
  margin-left: 35%;
}
